<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{{body}}}
     {{#if showContentTinhToan}}
    <h2>So A: {{soA}}</h2>
    <h2>So B: {{soB}}</h2>
    <h2>Phep tinh: {{phepTinh}}</h2>
    <h2>Ket qua: {{kq}}</h2>
    {{/if}}

    {{#if showPhepTinh}}
   <input type="text" placeholder="so a" id="soA"> 
   <input type="text" placeholder="so b" id="soB"> 
   <p>Phep tinh</p>
   <select name="" id="luachon">
        <option value="cong">+</option>
        <option value="tru">-</option>
        <option value="nhan">x</option>
        <option value="chia">/</option>

   </select>
   <br>
   <button onclick="tinh()" type="submit">Tinh toan</button>
   <br>
   <h1>Ket qua</h1>
   <br>
   <p id="kq"></p>
   <script>
    function tinh(){
        var num1 = parseInt(document.getElementById("soA").value);
	var num2 = parseInt(document.getElementById("soB").value);
   
    var luachon = document.getElementById("luachon").value;
        
        switch(luachon){
            case "cong": 
             kq = num1+num2;
             break;

             case "tru": 
             kq = num1-num2;
             break;

             case "nhan": 
             kq = num1*num2;
             break;

             case "chia": 
             kq = num1/num2;
             break;
            

        }
       
        document.getElementById("kq").innerHTML =   kq;
    }

   </script>
   
{{/if}}
    
</body>
</html>